<div class="about section" id="about">
  <p class="numberHeader">#21</p>
  <p class="textHeader">Über Mich</p>
  <div class="aboutSlideContainer">
    <div class="picturesCarousel">
      <div id="profilePictures" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727211/UblJr/Ubl%20Jr./Pictures/IMG_1987_zoalwg.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727213/UblJr/Ubl%20Jr./Pictures/IMG_2021_f2uuny.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727211/UblJr/Ubl%20Jr./Pictures/IMG_2034_b4o9e3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727208/UblJr/Ubl%20Jr./Pictures/IMG_2013_kwluus.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727194/UblJr/Ubl%20Jr./Pictures/IMG_2011_tplrcj.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class="infoSlides">
      <div id="infoCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cContainer steckbrief">
              <h2>Steckbrief</h2>
              <p><strong>Geburtstag</strong> 04.02.2001 - Wiesbaden</p>
              <p><strong>Wohnort</strong> Ingelheim am Rhein</p>
              <p><strong>Größe</strong> 193cm</p>
              <p><strong>Gewicht</strong> 78kg</p>
              <p><strong>Tätigkeit</strong> Ausbildung (Zerspanungs-mechaniker)</p>
              <p><strong>Hobbys</strong> Motorradsport, Fußball, Musik, die Welt Sehen</p>
              <p><strong>Email</strong> ublbastian@gmail.com</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cContainer story">
              <h2>Meine Geschichte</h2>
              <p>Von dem übergewichtigen Jungen zum Motorradrennfahrer. 2014 nahm ich 25 Kilo ab und bewarb mich für eine Nachwuchsserie. In den darauffolgenden Jahren zeigte ich Rennen für Rennen immer ständige Fortschritte. Ich möchte Sie auf den nächsten Seiten in meine Welt des Motorsports einladen und hoffe, Sie für mich begeistern zu können. Begleiten Sie mich auf meinem Weg in Ziel.<br>Ihr Bastian Ubl</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cContainer laufbahn">
              <h2>Motorsport Laufbahn</h2>
              <p><strong>2015</strong> Gladius Trophy - 15. (Rookie Saison)</p>
              <p><strong>2016</strong> Gladius Trophy - 5. (mit Podium auf dem Lausitzring)</p>
              <p><strong>2017</strong> Deutscher Langstrecken Cup - 6. (In der Klasse Moto 600)</p>
              <p><strong>2018</strong> Deutscher Rundstrecken Cup - 11. (eine Saison mit viel Pech), 1. Platz beim 1000km Rennen von Hockenheim in der Klasse Moto 750</p>
              <p><strong>2019</strong> IDM STK 600 Gaststarts</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-next" href="#infoCarousel" role="button" data-slide="next">
          <span class="carouselButton" aria-hidden="true"><img src="<%= asset_url('next.svg') %>" alt=""></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <%= render('seperators/firstSeperator') %>
</div>
