<div class="banner">
  <div class="title">
    <h1 class="topTitle">WEL</h1>
    <img class="ubljrBanner" src="<%= asset_url('ubljr.png') %>" alt="">
    <h1>COME</h1>
    <img class="numberBanner" src="<%= asset_url('21.png') %>" alt="">
  </div>
  <div class="scrollLink">
    <p>Lern mich kennen!</p>
    <img class="chivronicon" src="<%= asset_url('chivrondown.svg') %>" alt="">
  </div>
</div>
