<div class="navbar">
  <div class="logos">
    <img class="ubljrnavbar" src="<%= asset_url('ubljr.png') %>" alt="">
    <img class="numbernavbar" src="<%= asset_url('21.png') %>" alt="">
  </div>
  <div class="quicklinks">
    <a class="active" href="#">Home</a>
    <a href="#">Über Mich</a>
    <a href="#">Social</a>
    <a href="#">Rennen</a>
    <a href="#">Galerie</a>
    <a href="#">Partner</a>
    <a href="#">Kontakt</a>
  </div>
</div>
