<div class="navbar" id="navbar">
  <div class="logos">
    <img class="ubljrnavbar" src="<%= asset_url('ubljr.png') %>" alt="">
    <img class="numbernavbar" src="<%= asset_url('21.png') %>" alt="">
  </div>
  <div class="quicklinks">
    <a class="quicklink" data-id="banner">Home</a>
    <a class="quicklink" data-id="about" >Über Mich</a>
    <!-- <a class="quicklink" id="social" bled="true">Social</a> -->
    <a class="quicklink" data-id="races">Rennen</a>
    <a class="quicklink" data-id="gallery">Galerie</a>
    <a class="quicklink" data-id="partners">Partner</a>
    <a class="quicklink" data-id="contact">Kontakt</a>
  </div>
</div>
