<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727780/UblJr/Pitbike/Pictures/IMG_8938_cl5oer.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727775/UblJr/Pitbike/Pictures/IMG_8930_n0g9gj.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727775/UblJr/Pitbike/Pictures/IMG_8936_snxu5f.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727771/UblJr/Pitbike/Pictures/IMG_8921_v2p67o.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727770/UblJr/Pitbike/Pictures/IMG_8935_lef8eg.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727769/UblJr/Pitbike/Pictures/IMG_8922_ohbukh.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727763/UblJr/Pitbike/Pictures/IMG_8911_vm4nih.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727761/UblJr/Pitbike/Pictures/IMG_8610_fkb7v8.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727760/UblJr/Pitbike/Pictures/IMG_8913_f02squ.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727758/UblJr/Pitbike/Pictures/IMG_8928_unih7v.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727751/UblJr/Pitbike/Pictures/IMG_8609_gs5uer.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727744/UblJr/Pitbike/Pictures/23d04bb6-909b-4972-a008-4a61781b8713_apcsfo.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
