<div class="first seperator jarallax">
  <img class="jarallax-img" src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596730443/UblJr/IDM/Pictures/first_arge4k.jpg" alt="">
  <div class="gradient"></div>
  <%= image_tag("21.png",  class:'sepLogo') %>
</div>
