<div class="first seperator jarallax">
  <img class="jarallax-img" src="<%= asset_url('seperators/first.jpg') %>" alt="">
  <div class="gradient"></div>
  <%= image_tag("21.png",  class:'sepLogo') %>
</div>
