<div class="fourth seperator jarallax">
  <img class="jarallax-img" src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727577/UblJr/IDM/Pictures/imgonline-com-ua-CompressToSize-je1OjNSg277_lwtlpg.jpg" alt="">
  <div class="gradient"></div>
  <%= image_tag("21.png",  class:'sepLogo') %>
  <%= image_tag("ubljr.png", class:'sepLogo') %>
</div>
