<div class="third seperator jarallax">
  <img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1596727318/UblJr/IDM/Pictures/IMG_6227_mkddb1.jpg" alt="" class="jarallax-img">
  <div class="gradient"></div>
  <%= image_tag("ubljr.png",  class:'sepLogo') %>
</div>
