<div class="third seperator jarallax">
  <img src="<%= asset_url('seperators/third.jpg') %>" alt="" class="jarallax-img">
  <div class="gradient"></div>
  <%= image_tag("ubljr.png",  class:'sepLogo') %>
</div>
