<div class="banner">
  <div class="title">
    <h1>WEL</h1>
    <h1>COME</h1>
  </div>
  <div class="scrollLink">
    <p>Lern mich kennen!</p>
    <img class="chivronicon" src="<%= asset_url('chivrondown.svg') %>" alt="">
  </div>
</div>
