<%= render('components/banner') %>
<%= render('components/about') %>
<div class="first seperator jarallax">
  <img class="jarallax-img" src="<%= asset_url('first.jpg') %>" alt="">
  <div class="gradient"></div>
  <%= image_tag("21.png",  class:'numberSep') %>
</div>
<div class="socials section">
  <p class="numberHeader">#21</p>
  <p class="textHeader">Socials</p>
</div>
